@model IEnumerable<IPtreatmentmanagementPortal.Model.TreatmentPlan>

@{
    ViewData["Title"] = "GetTreatmentPlans";
}

<h1>GetTreatmentPlans</h1>

@{ if (ViewBag.msg != null)
    {
        @ViewBag.msg
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PackageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TestDetails)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Specialist)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TreatmentCommencementDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ailment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TreatmentEndDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestDetails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialist)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentCommencementDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ailment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TreatmentEndDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}